div(ng-class="self.styles.header")
    img(ng-class="self.styles.headerImage" ng-src="/images/logo2.png")
    p(ng-class="self.styles.headerText") COUPLING


div(ng-class="self.styles.content")
    
    div(ng-class="self.styles.sectionHeader")
        p CREATE A NEW TEAM

    
    div(ng-class="self.styles.inputSection")
        div(ng-class="self.styles.inputSectionLeft")
            p(ng-class="self.styles.inputSectionTitle") Team Name
            p(ng-class="self.styles.inputSectionInstrc") This how you will reference this team both in the coupling application and in the URL that you can share with others
            
        div(ng-class="self.styles.inputSectionRight")
            input(id="tribe-name" type="text" ng-model="self.tribe.name" placeholder="Enter the tribe name here")
            
            
    div(ng-class="self.styles.inputSection")
        div(ng-class="self.styles.inputSectionLeft")
            p(ng-class="self.styles.inputSectionTitle") Email
            p(ng-class="self.styles.inputSectionInstrc") The tribe email address - Attach a Gravatar to this to choose your tribe icon
            
        div(ng-class="self.styles.inputSectionRight")
            input(id="tribe-email" type="text" ng-model="self.tribe.email" placeholder="Enter the tribe email here")
            
    div(ng-class="self.styles.inputSection")
        div(ng-class="self.styles.inputSectionLeft")
            p(ng-class="self.styles.inputSectionTitle") Unique Id
            p(ng-class="self.styles.inputSectionInstrc") This is SOMETHING??!?!?!
            
        div(ng-class="self.styles.inputSectionRight")
            input(id="tribe-id" type="text" ng-model="self.tribe.id")
            
            
    div(ng-class="self.styles.inputSection")
        div(ng-class="self.styles.inputSectionLeft")
            p(ng-class="self.styles.inputSectionTitle") Team Badging - 
                span Optional
            p(ng-class="self.styles.inputSectionInstrc") If you would like you can turn on Badging, which allows you to distinguish between team members and define how you would like to prioritize pairings made between them
            
        div(ng-class="self.styles.inputSectionRight")
            input(id="badge-checkbox" type="checkbox" ng-model="self.tribe.badgesEnabled") 
            p Enabled        
            
            
    div(ng-class="self.styles.inputSection")
        div(ng-class="self.styles.inputSectionLeft")
            p(ng-class="self.styles.inputSectionTitle") Default Badge Name
            p(ng-class="self.styles.inputSectionInstrc") The first badge a player can be given. When badges are enabled, existing players default to having this badge.
            
        div(ng-class="self.styles.inputSectionRight")
            input(id="default-badge-name" type="text" ng-model="self.tribe.defaultBadgeName")
            
            
    div(ng-class="self.styles.inputSection")
        div(ng-class="self.styles.inputSectionLeft")
            p(ng-class="self.styles.inputSectionTitle") Alt Badge Name
            p(ng-class="self.styles.inputSectionInstrc") The other badge a player can be given. A player can only have one badge at a time.
            
        div(ng-class="self.styles.inputSectionRight")
            input(id="alt-badge-name" type="text" ng-model="self.tribe.alternateBadgeName")
            
    
    div(ng-class="self.styles.inputSection")
        div(ng-class="self.styles.inputSectionLeft")
            p(ng-class="self.styles.inputSectionTitle") Badge Pairing Priority
            p(ng-class="self.styles.inputSectionInstrc") Badge Pairing Priority lets you decide how you would like Coupling to prioritize pairing between team members with the similar or different badges.
            
        div(ng-class="self.styles.inputSectionRight")
            select(
            id="pairing-rule"
            ng-model="self.tribe.pairingRule"
            ng-options="rule.id as rule.description for rule in self.pairingRules"
            )
            
            
    div
        input(id="save-tribe-button"
        type="button"
        ng-class="self.styles.saveBtn"
        ng-click="self.clickSaveButton()"
        tabIndex="0"
        value="CREATE TEAM")
            
