div(ng-class="pairAssignments.styles.header")
    img(ng-class="pairAssignments.styles.headerImage" ng-src="/images/logo2.png")
    p(ng-class="pairAssignments.styles.headerText") COUPLING

div(ng-class="pairAssignments.styles.className")
    div
        tribebrowser(tribe="pairAssignments.tribe")
        div(ng-cloak class="current pairAssignments.styles.pair-assignments")
        
            div(ng-class="pairAssignments.styles.noPairsNotice" ng-hide="pairAssignments.pairAssignments") 
                img(ng-src="/images/catcus.png")
                p(ng-class="pairAssignments.styles.noPairsTitle") Looks a bit emtpy.... 
                p(ng-class="pairAssignments.styles.noPairsSubtitle") Let's Couple Those Pairs!
                div(ng-class="pairAssignments.styles.button")
                    a(href="/{{tribebrowser.tribe.id}}/statistics") Add Team Member
                
            div(ng-show="pairAssignments.pairAssignments")
                div(class="pair-assignments-header")
                    text Couples for {{pairAssignments.pairAssignments.date | date:'MM/dd/yyyy'}} - {{pairAssignments.pairAssignments.date | date: 'HH:mm:ss'}}
            div(id="pair-assignments-content")
                span(ng-repeat='pair in pairAssignments.pairAssignments.pairs' class="pair")
                    playercard(
                    ng-repeat='player in pair'
                    player="player"
                    ng-class="{hoverzoom: !pairAssignments._id}"
                    ui-draggable="pairAssignments.isNew"
                    drag="player"
                    ui-on-Drop="pairAssignments.onDrop($data,player)"
                    )
            div(ng-show="pairAssignments.pairAssignments")
                a(id="save-button" class="super green button" ng-click="pairAssignments.save()" ng-show="pairAssignments.isNew") Save!
            a(id="new-pairs-button" class="large pink button" href="/{{pairAssignments.tribe.id}}/prepare/") Prepare to spin!
           
    player-roster(
    ng-class="pairAssignments.styles.unpairedPlayerRoster"
    players="pairAssignments.unpairedPlayers"
    tribe="pairAssignments.tribe"
    label="'Unpaired players'"
    )

    server-message(tribe-id="pairAssignments.tribe.id")